/* RESET DE CONFIGURAÇÕES DO NAVEGADOR */
*{
    margin: 2%;
    padding: 10%;
    box-sizing: border-box;
}

body {
    /* background-color: blueviolet;      */
    background-image: url("https://static.todamateria.com.br/upload/ba/nd/bandeiradobrasil-2-cke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 15px 0;

}

p {
    text-align: center;
    color: red;
    font-family: 'Commic Sans MS';
}